
html, body {
    height: 100%;
    background-color: #303030;
}
body {
    margin: 0;
}

.flex-container {
  height:100%;
  width:100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#scenes {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
  margin:0 auto 10px;
}

/* Text Box */



.start_text p{
    position: fixed;
    left: 60%;
    top: 70%;
    font-size: 36px;
    color: #EEE;
    font-family: 'Quantico', sans-serif;

}

.start_text p:hover{
    position: fixed;
    left: 60%;
    top: 70%;
    transform: translateY(-8px) translateX(-8px);
    font-size: 42px;
    color: #f4d742;
    cursor: pointer;
}

.form {
    margin: 20px;
}



#scenes>.scene{
    top:0px;
    position:absolute;
    opacity:0;
    display: none;
/*    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);*/
}

#scenes div.opaque{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity:1;
    /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);*/
}

#scenes form{
    display: flex;
    align-items: center;
    justify-content: center;
}

#scenes>div>div>p{
    color: white;
    opacity: 1;
    margin: 20px;
}

#scenes span{
    color: white;
    opacity: 1;
    margin: 20px;
}

.text_rec{
    position: fixed;
    width: 90%;
    background-color: black;
    border-radius: 30px;
    border-style: outset;
    border-color: #888;
    border-width:8px;
    opacity: 0.7;
    font-family: 'Quantico', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choice{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.choice_item:hover p{
    color: #f4d742;
    font-size: 24px;
    cursor: pointer;
}


/* Images */

#fading {
  position:relative;
  height:100%;
  width:100%;
  /*margin:0 auto 10px;*/

}
#fading img {
  position: fixed;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#fading img.opaque {
  position: fixed;
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

/* Warning */

#warning{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: white;
    left: 0%;
    top: 10%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    padding: 0px;
    font-family: "Consolas", Courier, monospace;
    font-size: 14px;
    border-radius: 2px;
}

@keyframes blinker_bad {
  50% {
    background: rgba(204,0,0,0.5);
    box-shadow:0 0 30px 30px rgba(204,0,0,0.5);
  }
}

@keyframes blinker_good {
  50% {
    background: rgba(0,160,0,0.5);
    box-shadow:0 0 30px 30px rgba(0,160,0,0.5);
  }
}

#warning.warning_show{
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
    animation: blinker_bad 1s ease-in-out infinite;
}

#minimize{
    position: fixed;
    top: -1000px;
    left: 50px;
    width: 40px;
    height: 40px;
}

#minimize_img{
    width: 40px;
    height: 40px;
}

#minimize_img:hover{
    transform: translate(-5px, -5px);
    width: 50px;
    height: 50px;
}
