
html, body {
    height: 100%;
}
body {
    margin: 0;
}

#scenes {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height:300px;
  width:100%;
  margin:0 auto 10px;
}
